%nav.navbar.navbar-dark.bg-inverse
  = link_to('BRAND', '#', { class: 'navbar-brand' })
  %ul.nav.navbar-nav
    %li.nav-item= link_to('Dashboard', '#', { class: 'nav-link' })
    %li.nav-item= link_to('Feedback', '#', { class: 'nav-link' })
    %li.nav-item= link_to('Settings', '#', { class: 'nav-link' })
